
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #222;
    color: white;
    padding: 20px;
}

main {
    background-color: white;
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
}

h1 {
    font-size: 40px;
}

h2 {
    color: #333;
}

img {
    width: 300px;
    border-radius: 15px;
    border: 3px solid #222;
}

p {
    font-size: 18px;
    line-height: 1.6;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #f0f0f0;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

hr {
    border: 1px solid #ddd;
}

footer {
    background-color: #222;
    color: white;
    padding: 20px;
    margin-top: 20px;
}

footer p {
    margin: 5px;
}

li:hover {
    background-color: #dcdcdc;
}